body
{
	color: #333333;
	background-color: #ffffff;
	font-family: Verdana, Tahoma, sans-serif;
}

a
{
	color: #3399FF;
	background-color: inherit;
	font-weight: normal;
	text-decoration: none;
}

div.valid
{
	color: #555555;
	font-size: 11px;
}

a:hover { background-color: #ddddff; text-decoration: none; }
hr { color: #005500; height: 1pt; }

a[href^="http:"]
{
	background: url(/images/remote.gif) right center no-repeat;
	padding-right: 15px;
	white-space: nowrap;
}

a[href^="http:"]:hover
{
	background-color: #ddddff;
}
